@font-face {
  font-family: "CabinSketch";
  src: url("../../assets/CabinSketch-Regular.ttf");
  src: url("../../assets/CabinSketch-Bold.ttf");
}
.sliderContainer {
  margin: 20px;
}
.sliderimgContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}
.carrousel__images {
  text-align: center;
  position: relative;
  height: 170px;
  width: 100%;
  z-index: 1;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}

.parCarrousel {
  position: absolute;
  bottom: 60%;
  text-align: center;


  z-index: 600;
  width: auto;
  height: 20%;
}
.parCarrousel p{
  font-family: "CabinSketch";
  color: white;
  width: 200px;
  padding: 5px;
  margin-left: 1%;
  display: block;
   word-wrap: break-word;
   font-size: 20px;
}
