.vintageToyNone{
    display: none;
}
.vintageToy{
    display: block;
    animation: translateX .5s linear;
    height: 100px;
    margin-left: 40%;
    margin-top: 10px;
    width: 150px;
}

@keyframes translateX{
    0%{
        margin-left: -100%;
    }
  
    100%{
        margin-left: 40%;
    }
    
}
